<div>
   <h1> RepoData for <%= @repo.name %> </h1>

<% repo_traffic_data = RepoData::RepoTrafficDataViewsDaily.where(repo: @repo) %>
<% repo_traffic = repo_traffic_data.map { |data| [data.timestamp, data.count] } %>


    <%= line_chart repo_traffic %>

    <h2> Traffic </h2>
        <table class="table-auto border-collapse border border-gray-200 w-full text-left">
        <thead>
            <tr class="bg-gray-100">
            <th class="border border-gray-300 px-4 py-2">Timestamp</th>
            <th class="border border-gray-300 px-4 py-2">Views</th>
            <th class="border border-gray-300 px-4 py-2">Unique Views</th>
            </tr>
        </thead>
        <tbody>
            <% repo_traffic_data.each do |repo_traffic| %>
            <tr class="hover:bg-gray-50">
                <td class="border border-gray-300 px-4 py-2"><%= repo_traffic.timestamp %></td>
                <td class="border border-gray-300 px-4 py-2"><%= repo_traffic.count %></td>
                <td class="border border-gray-300 px-4 py-2"><%= repo_traffic.uniques %></td>
            </tr>
            <% end %>
        </tbody>
        </table>

    
</div>
